{% extends 'partials/tracker_base.html' %}
{% block tracker_nav %}
{% load humanize %}
<div class = 'container vertical-center' >
   
   
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{job_title}}</h5>
          {% autoescape off %}
          <p class="card-text">{{job.description}}</p>
          {% endautoescape %}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{job.website}}</li>
          <li class="list-group-item">{{job.company}}</li>
        </ul>
        <div class="card-body">
          <a href="{{job.website}}" class="card-link">Website</a>

          
          <a href="{% url 'interested' job.id %}" class="card-link">Interested</a>
          
        </div>
      </div>

</div>
{% endblock %}