body {
    background-color: #E0E0E0;
   min-height:100vh;
}



.goog-te-banner-frame.skiptranslate {
    display: none !important;
 } 
 body {
    top: 0px !important; 
 }
 .goog-te-gadget-icon {
    display: none !important;
 }

 .height-restraint{
     height:80vh
 }
 
 .scroll {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
   
 }

 #id_status{
    border-color: none !important;
    background-image: none !important;
   }

#id_text{
   height: 20vh
   
}

option{
   text-transform: capitalize
}


@media (min-width: 576px) {
   .card-columns {
       column-count: 1;
   }
}
@media (min-width: 768px) {
   .card-columns {
       column-count: 2;
   }
}
@media (min-width: 992px) {
   .card-columns {
       column-count: 2;
   }
}
@media (min-width: 1200px) {
   .card-columns {
       column-count: 3;
   }
}

.footer{
   font-family: 'Pacifico', cursive;
}
